html, body {
  width : 100vw;
  height : 100vh;
  margin : 0;
  font-size: 1.5em;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1 {
  text-align: center;
  margin : 0;
}

table {
  width : calc(100% - 20px);
  border: 2px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

td {
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
  height : 3em;
  color: black;
  background-color: white;
}

td:hover {
  color:white;
  background-color: black;
}

caption {
  font-size: 2em;
  font-weight: bold;
}
